@import "tailwindcss";

@import "./styles/color.css";
@import "./styles/typography.css";

html,
body {
  max-width: 376px;
  max-height: 812px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #1c1c1e;
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

/* Chrome, Edge, Safari */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}
